
$primary-color: #CF4647;
$second-color: #ffffff;
$font-family-base: 'Raleway', sans-serif;
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

body{
  background-color: $primary-color;
  margin: 20px 0 0 0;
  p{
    color: #ffffff;
  }
  h1{
    color: #ffffff;
  }
  h2, h3{
    color: #333333;
  }
  header{
    width: 100%;
  }
}
.box{
  margin: 20px 0;
  padding: 40px;
  background-color: $second-color;
  height: auto;
  width: 100%;
}
.img-center{
margin: auto;
}
