$primary-color: #CF4647;
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";
body{
  background-color: $primary-color;
  p{
    color: #ffffff;
  }
  h1{
    color: #000000;
  }
  h2{
    color: #777777;
  }
  header{
    width: 100%;
  }
}
